@use "assets/scss/abstract/all" as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacer-4;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        gap: $spacer-5;
    }
}
