@import "@/assets/scss/abstract/_all";

.wrapper {
    width: 100%;
    max-width: 480px;
    background-color: $color-white;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: $spacer-4;
    border: 1px solid $color-stroke;
    display: flex;
    gap: $spacer-4;
    flex-direction: column;
}

.form {
    display: flex;
    gap: $spacer-4;
    flex-direction: column;
}

.button {
    width: 100%;
}
