/* stylelint-disable property-no-vendor-prefix */
@import "./abstract/all";
@import "scss-reset/reset";

html,
body {
    overscroll-behavior: none;
}

body {
    background-color: $color-light-white;
}

.pointer-events-none {
    pointer-events: none;
}
