@use "abstract/variables/colors" as colors;
@use "scss-reset/reset";
@forward "abstract/all";

html,
body {
    overscroll-behavior: none;
}

body {
    background-color: colors.$color-light-white;
}

.pointer-events-none {
    pointer-events: none;
}
