DATABASE_URL=postgresql://LOGIN:PASSWORD@SERVER:PORT/DATABASE_NAME

# Use the final HTTPS domain in production.
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=CHANGE_ME_TO_A_SECRET

SITE_URL=http://localhost:3000
SITE_NAME=OG SiteName
