@import "@/assets/scss/abstract/_all";

.wrapper {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-white;
    border-bottom: 1px solid $color-stroke;
    z-index: 100;
}

.inner {
    width: 100%;
    margin: 0 auto;
    max-width: $container;
    padding: $spacer-2 $spacer-4;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons,
.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacer-4;
}

.link,
.buttonLink {
    color: $color-blue;
    text-decoration: none;

    @include media-hover {
        color: $color-dark-blue;
    }

    svg {
        display: block;
    }
}
