@import "@/assets/scss/abstract/_all";

// variables
$mobile-corner-radius: 30px;
$desktop-corner-radius: 60px;

.wrapper {
    width: 100%;
    padding: $spacer-4;
    background-color: $color-white;
    border: 1px solid $color-stroke;

    @include media-breakpoint-up(lg) {
        padding: $spacer-8;
    }

    &.cornerTopLeft {
        border-top-left-radius: $mobile-corner-radius;

        @include media-breakpoint-up(lg) {
            border-top-left-radius: $desktop-corner-radius;
        }
    }

    &.cornerTopRight {
        border-top-right-radius: $mobile-corner-radius;

        @include media-breakpoint-up(lg) {
            border-top-right-radius: $desktop-corner-radius;
        }
    }

    &.cornerBottomLeft {
        border-bottom-left-radius: $mobile-corner-radius;

        @include media-breakpoint-up(lg) {
            border-bottom-left-radius: $desktop-corner-radius;
        }
    }

    &.cornerBottomRight {
        border-bottom-right-radius: $mobile-corner-radius;

        @include media-breakpoint-up(lg) {
            border-bottom-right-radius: $desktop-corner-radius;
        }
    }

    &.height100percent {
        height: 100%;
    }
}
