@import "@/assets/scss/abstract/_all";

.list {
    display: flex;
    gap: $spacer-2;
    flex-wrap: wrap;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: $spacer-6;
}

.title {
    font-size: $fs-medium;
}

.section {
    display: flex;
    flex-direction: column;
    gap: $spacer-4;
}
