// Colors
$color-white: #ffffff;
$color-light-white: #fafafa;
$color-black: #000000;
$color-gray: #454545;
$color-blue: #34adff;
$color-dark-blue: #0085e0;
$color-stroke: #0077b6;
$color-light-blue: #dcf3ff;
$color-green: #01b636;
$color-red: #a9000b;
