// Colors
$color-white: #ffffff;
$color-light-white: #fafafa;
$color-black: #000000;
$color-gray: #454545;
$color-blue: #0d75c4;
$color-dark-blue: #024f83;
$color-stroke: #0d75c4;
$color-light-blue: #dcf3ff;
$color-green: #01b636;
$color-red: #a9000b;
