$spacer-base: 4px; // 4px

// Spacers
$spacer-1: $spacer-base * 1; // 4px
$spacer-2: $spacer-base * 2; // 8px
$spacer-3: $spacer-base * 3; // 12px
$spacer-4: $spacer-base * 4; // 16px
$spacer-5: $spacer-base * 5; // 20px
$spacer-6: $spacer-base * 6; // 24px
$spacer-7: $spacer-base * 7; // 28px
$spacer-8: $spacer-base * 8; // 32px
$spacer-9: $spacer-base * 9; // 36px
$spacer-10: $spacer-base * 10; // 40px
$spacer-11: $spacer-base * 11; // 44px
$spacer-12: $spacer-base * 12; // 48px
