// Font weights
$fw-light: 300;
$fw-regular: normal;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold: 700;
$fw-extra-bold: 800;

// Font sizes
$fs-lg: 36px;
$fs-md: 24px;
$fs-sm: 18px;

// Line heights
$lh-large: 1.4;
$lh-base: 1.2;
$lh-normal: normal;
