@use "assets/scss/abstract/all" as *;

.description {
    color: $color-white;
    background-color: $color-blue;
    align-self: flex-start;
    padding: $spacer-2 $spacer-3;
    font-weight: $fw-medium;
    font-size: $fs-base;

    @include media-breakpoint-up(md) {
        font-size: $fs-large;
        padding: $spacer-3 $spacer-4;
    }
}
