@use "assets/scss/abstract/all" as *;

.wrapper {
    display: flex;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: $spacer-3;
}

.button {
    color: $color-blue;
    text-decoration: none;
    font-weight: $fw-medium;
    transition: all 0.2s ease-in-out;
    font-size: $fs-base;

    @include media-hover {
        color: $color-dark-blue;
    }
}

.separator {
    height: 100%;
    background-color: $color-gray;
    width: 2px;
}

.active {
    color: $color-dark-blue;
    cursor: default;
    font-weight: $fw-semi-bold;
}
